* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    height: 2336px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
}

.opacity-animation { 
    animation-name: opacity;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
    animation-duration: 5s;
}

.moving-animation {
    animation-name: moving;
    background-position: 100% 0;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.desktop {
    position: absolute;
    right: 0;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }

}

@keyframes opacity {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes moving {
    0% {transform: translateX(0) translateY(0)}
    50% {transform: translateX(-30px) translateY(-15px)}
    100% {transform: translateX(0);}
}