.learn-more {
    top: 0;
    height: 666px;
    background-color: rgba(140, 79, 42, 0,3);
    background-image: url(../assets/background-image-2.png);
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-align: center;
}

.learn-more > img {
    width: 100%;
    height: 100%;
}

.learn-more-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    background-color: rgba(57, 194, 215, 1);
    width: 150px;
    height: 150px;
    border: 0;
    border-radius: 100px;
    color: #FFFFFF;
    position: relative;
    animation-name: buttonZoomOut;
    animation-fill-mode: forwards; 
    animation-duration: 1s;
}

.play-button:hover {
    animation-name: buttonZoomIn;
    animation-fill-mode: forwards; 
    animation-duration: 1s;
}

.play-button-inside {
    border-radius: 2px;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.learn-more-details {
    font-size: 24px;
}

@keyframes buttonZoomIn {
    100%{transform: scale(0.9); 
        background-color: #FFFFFF;
        color: rgba(57, 194, 215, 1);;}
}

@keyframes buttonZoomOut {
    0%{transform: scale(0.9); 
        background-color: #FFFFFF;
        color: rgba(57, 194, 215, 1);}
    100%{transform: scale(1); 
        background-color: rgba(57, 194, 215, 1) ;
        color: #FFFFFF;;}
}